extends layout

block content

  #kitteh-slideshow.rs-slideshow
    div.slide-container
  div.div-break

  //- ReallySimple Slideshow
  link(rel='stylesheet', href='/stylesheets/rs.slideshow.css')
  script(src='/javascripts/jquery.rs.slideshow.min.js')

  script (type='text/javascript')
    var kittehs = !{JSON.stringify (kittehs)},
        kittehSlides = [];
    kittehs = kittehs.splice (0, 50);
    kittehSlides.push ({
      'url': 'https://dl.dropbox.com/s/dar0eujotvizko3/more_soon.png'
    });
    for (var i=0; i<kittehs.length; i++) {
      kittehSlides.push ({
        'url': kittehs[i].url,
        'link_to': kittehs[i].link
      });
    }

    $(document).ready(function () {
      $('#kitteh-slideshow').rsfSlideshow({
        slides: kittehSlides,
        autostart: false,
        transition: 500,
        effect: 'fade',
        loop: false,
        controls: {
          previousSlide: {auto: true},
          nextSlide: {auto: true},
        }
      });
      $('.rs-controls .rs-next').trigger('click');
    });
