extends layout

block content

  #kitteh-slideshow.rs-slideshow
    div.slide-container
  div.div-break

  //- ReallySimple Slideshow
  link(rel='stylesheet', href='/stylesheets/rs.slideshow.css')
  script(src='/javascripts/jquery.rs.slideshow.min.js')

  script (type='text/javascript')
    var kittehs = !{JSON.stringify (kittehs)},
        kittehSlides = [];
    kittehs = kittehs.splice (0, 50);
    for (var i=0; i<kittehs.length; i++) {
      kittehSlides.push ({
        'url': kittehs[i].url,
        'link_to': kittehs[i].link
      })
    }
    $('#kitteh-slideshow').rsfSlideshow({
      autostart: false,
      slides: kittehSlides,
      transition: 500,
      effect: 'fade',
      interval: 5,
      controls: {
        previousSlide: {auto: true},
        nextSlide: {auto: true},
      }
    });
    console.log (kittehSlides);
