!!!5
html
  head
    title #{title}

    //- custom fonts
    //link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Bangers')

    //-  base stylesheet
    link(rel='stylesheet', href='/stylesheets/style.css')

    //- jquery
    script(src='/javascripts/jquery-2.1.0.min.js')

  body
    #wrap
      header
        h1
          div.page-logo
            a(href="/")
              img.logo-img(src='https://dl.dropbox.com/s/d18xkcwnaql2liv/kitteh_logo.png')
          div.page-title
            a(href="/", style="padding: 0 15px 0 5px") #{title}
          div.button-container
            #rnd-kitteh-button.button-css.green Random
          div.div-break
      .container
        block content
    footer
      div.mustafa-container
        a(href="http://mustafarizvi.com", target="_blank")
          img(src="http://www.gravatar.com/avatar/fa4841ca33f0f38f2883f456ba501857.png?s=32")
        a(href="https://github.com/mustafar/Kitteh", target="_blank")
          img(src="/img/github-32.png")
      div.social-container
        a(href="http://twitter.com/mustafarizvi", target="_blank")
          div.social-logo.twitter-logo
        a(href="http://instagram.com/mustafarizvi", target="_blank")
          div.social-logo.instagram-logo
      div.div-break

  script.
    $(document).ready(function () {
      $('#rnd-kitteh-button').click (function() {
        window.location = '/rnd';
      });
    });
