!!!5
html
  head
    title #{title}
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header
      h1 #{title}
    .container
      .main-content
        block content
    footer
      p Running on node with Express, Jade and Stylus
    script(type='text/javascript')
      console.log('hiya');

