extends layout

block content

  #kitteh-slideshow.rs-slideshow
    #frame.slide-container
  div.div-break

  //- ReallySimple Slideshow
  link(rel='stylesheet', href='/stylesheets/rs.slideshow.css')

  script.
    var kitteh = !{JSON.stringify (kitteh)},
        anchor = document.createElement('a'),
        image = document.createElement('img');
    anchor.href = kitteh.link;
    $(image).attr("src", kitteh.url);
    $(image).addClass('rsf-slideshow-image');
    $(anchor).append(image);
    $('#frame').append(anchor);

    $(document).ready(function () {
      // delete this kitteh!!
      var code = [];
      $(document.body).keyup (function (event){
        var keyCode = event.which? event.which: 0, key;
        var codeStr;
        if (keyCode >= 48 && keyCode <= 90) {
          code.push(keyCode);
          if (code.length > 4) {
            code = code.slice(code.length - 4);
          }
          codeStr = code.join('');
          if (codeStr == '82777584') {
            if (kitteh && kitteh.id) {
              $.ajax('/del/' + kitteh.id, {
                  type: 'GET',
                  dataType: 'json',
                  success: function(data) {},
                  error  : function() {}
              });
            }
          }
        }
      });
    });
